<div class="container mx-auto">
  <div class="flex justify-center text-emerald-900 items-center flex-col">
    <div class="text-xl my-2 bg-emerald-900 text-cyan-50 p-2 rounded">
      {{ book.name }}
    </div>
    <button mat-fab color="primary" [routerLink]="['/addnote', bookId]">
      <mat-icon>note_add</mat-icon>
    </button>

    <div
      *ngFor="let note of notes"
      class="bg-emerald-200 w-1/2 rounded p-4 my-2"
    >
      <div class="flex justify-between">
        <div class="text-xl">
          {{ note.title }}
        </div>
        <div>
          <button
            [routerLink]="['/notedetail', note.id]"
            mat-fab
            class="m-1"
            color="primary"
          >
            <mat-icon>article</mat-icon>
          </button>
          <button
            class="m-2"
            (click)="deleteNote(note.id)"
            mat-fab
            color="warn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div
        [innerHTML]="note.note | line"
        class="text-sm max-h-48 overflow-hidden"
      >
        {{ note.note }}
      </div>
      <div class="my-2 p-2 text-xs border-t-emerald-900 border-t">
        {{ note.updated | date }}
      </div>
    </div>
  </div>
</div>
