<div class="container mx-auto">
  <div class="flex flex-col items-center">
    <div class="flex flex-wrap max-w-3xl">
      <div
        class="bg-emerald-900 shadow-2xl hover:bg-emerald-600 transition flex items-center text-cyan-50 p-2 m-2 rounded-md"
        *ngFor="let cat of this.categories"
      >
        <div class="m-2">{{ cat.name }}</div>

        <button mat-icon-button (click)="deleteCat(cat.id)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div
      class="bg-white rounded-3xl border-2 border-emerald-900 p-9 shadow-2xl m-2"
    >
      <form
        class="flex flex-col items-center"
        (submit)="onSubmit()"
        [formGroup]="form"
      >
        <div class="text-xl text-emerald-900 m-2">New Category</div>
        <mat-form-field>
          <mat-label>Category Name</mat-label>
          <input
            maxlength="128"
            #catname
            matInput
            formControlName="name"
            type="text"
          />
          <mat-hint>{{ catname.value.length }}/128</mat-hint>
        </mat-form-field>
        <button
          matRipple
          class="m-2 p-2 bg-emerald-900 rounded-md hover:bg-emerald-600 text-cyan-50 transition"
          type="submit"
        >
          Add
        </button>
      </form>
    </div>
  </div>
</div>
