<div class="container mx-auto">
  <div class="mt-5 flex justify-center">
    <form
      class="p-5 shadow-lg flex max-w-md items-center justify-center flex-col"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <mat-label for="name">Book Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          name="name"
          id="name"
        />
      </mat-form-field>

      <div
        *ngIf="this.categories.length"
        class="bg-emerald-900 p-2 text-cyan-50 rounded-full"
      >
        Categories
      </div>
      <div class="flex flex-wrap">
        <div class="flex-grow basis-0" *ngFor="let cat of this.categories">
          <mat-checkbox
            class="m-2"
            color="primary"
            [value]="cat.id"
            (change)="onCheckboxChange($event)"
            id=""
          >
            {{ cat.name }}
          </mat-checkbox>
        </div>
      </div>
      <button
        matRipple
        class="bg-emerald-900 p-2 m-2 rounded-md text-cyan-50 hover:bg-emerald-700 transition hover:cursor-pointer"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>
