<div *ngIf="loading"><mat-spinner class="mx-auto"></mat-spinner></div>
<div *ngIf="!loading" class="register container mx-auto">
  <div class="flex mb-48 flex-col items-center justify-center">
    <form
      class="flex gap-3 shadow-2xl border-2 border-emerald-900 bg-white rounded-3xl p-9 flex-col items-center"
      (submit)="onSubmit()"
      [formGroup]="form"
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          name="email"
          id="email"
        />
        <mat-error *ngIf="this.form.get('email')?.errors">
          {{ handleErrors("email") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>

        <input
          matInput
          formControlName="username"
          type="text"
          name="username"
          id="username"
        />
        <mat-error *ngIf="this.form.get('username')?.errors">
          {{ handleErrors("username") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          name="password "
          id="password"
        />
        <mat-error *ngIf="this.form.get('password')?.errors">
          {{ handleErrors("password") }}
        </mat-error>
      </mat-form-field>

      <button
        matRipple
        class="bg-emerald-900 text-cyan-50 p-2 m-2 rounded hover:bg-emerald-600 transition"
        type="submit"
      >
        Register
      </button>
      <a class="text-emerald-900" routerLink="/login">or Login</a>
    </form>
  </div>
</div>
