<div class="register container mx-auto">
  <div class="flex mb-48 flex-col items-center justify-center">
    <form
      class="flex shadow-xl p-12 flex-col items-center"
      (submit)="onSubmit()"
      [formGroup]="form"
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          name="email"
          id="email"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>

        <input
          matInput
          formControlName="username"
          type="text"
          name="username"
          id="username"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          name="password "
          id="password"
        />
      </mat-form-field>

      <button
        matRipple
        class="bg-emerald-900 text-cyan-50 p-2 m-2 rounded hover:bg-emerald-600 transition"
        type="submit"
      >
        Register
      </button>
      <a class="text-emerald-900" routerLink="/login">or Login</a>
    </form>
  </div>
</div>
