<div *ngIf="loading"><mat-spinner class="mx-auto"></mat-spinner></div>
<div *ngIf="!loading" class="register container mx-auto">
  <div class="flex mb-48 flex-col items-center justify-center">
    <form
      class="flex shadow-2xl bg-white rounded-3xl p-9 border-2 border-emerald-900 flex-col items-center"
      (submit)="onSubmit()"
      [formGroup]="form"
    >
      <mat-form-field
        ><mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="text"
          name="email"
          id="email"
      /></mat-form-field>

      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          name="password "
          id="password"
        />
      </mat-form-field>

      <button
        class="bg-emerald-900 text-cyan-50 p-2 m-2 rounded hover:bg-emerald-600 transition"
        type="submit"
      >
        Login
      </button>
      <a class="text-emerald-900" routerLink="/register">or Register</a>
    </form>
  </div>
</div>
