<div class="register container mx-auto">
  <div class="flex mb-48 flex-col items-center justify-center">
    <form
      class="flex shadow-xl p-12 flex-col items-center"
      (submit)="onSubmit()"
      [formGroup]="form"
    >
      <mat-form-field
        ><mat-label>Email</mat-label>
        <input
          matInput
          required
          formControlName="username"
          type="text"
          name="username"
          id="username"
      /></mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          required
          formControlName="password"
          type="password"
          name="password "
          id="password"
        />
      </mat-form-field>
      <button
        class="bg-emerald-900 text-cyan-50 p-2 m-2 rounded hover:bg-emerald-600 transition"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</div>
