<div class="container mx-auto">
  <form
    style="max-width: 578px"
    class="mx-auto mt-12 border-2 border-emerald-900 bg-white rounded-3xl p-4 text-center"
    [formGroup]="form"
    (submit)="onSubmit()"
  >
    <div class="text-emerald-900 text-3xl p-2 m-2">Edit Note</div>
    <div class="mx-auto max-w-xl flex flex-col">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          formControlName="title"
          type="text"
          name="title"
          id="title"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Note</mat-label>
        <textarea
          matInput
          formControlName="note"
          type="text"
          name="note "
          id="note"
        ></textarea>
      </mat-form-field>
    </div>

    <button
      matRipple
      class="bg-emerald-900 text-cyan-50 p-2 m-2 rounded hover:bg-emerald-600 transition"
      type="submit"
    >
      Add New Note
    </button>
  </form>
</div>
