<div class="menu mb-48 mx-2 mt-2">
  <div
    class="container mx-auto border-2 border-emerald-900 px-4 py-8 drop-shadow-xl rounded-xl bg-white flex flex-col"
  >
    <div class="text-center text-5xl mb-4 text-emerald-900">
      Welcome to your library!
    </div>
    <div class="flex flex-row text-center mx-2 gap-4 flex-wrap">
      <a
        (click)="clickList()"
        routerLink="/list"
        class="flex-1 flex basis-0 justify-center items-center box-border transition"
      >
        <div
          class="card-list shadow-2xl h-52 w-full flex border-2 border-emerald-900 flex-col justify-center items-stretch rounded"
        >
          <div matRipple class="subtext text-3xl bg-transparent text-cyan-50">
            List
          </div>
        </div>
      </a>

      <a
        (click)="clickList()"
        routerLink="/categorization"
        href=""
        class="flex-1 flex basis-0 justify-center items-center box-border transition"
      >
        <div
          class="card-cat shadow-2xl h-52 w-full flex border-2 border-emerald-900 flex-col justify-center items-stretch rounded"
        >
          <div matRipple class="subtext text-3xl bg-transparent text-cyan-50">
            Categorization
          </div>
        </div>
      </a>
      <a
        (click)="clickList()"
        routerLink="/library"
        href=""
        class="flex-1 flex basis-0 justify-center items-center box-border transition"
      >
        <div
          class="card-library shadow-2xl h-52 w-full flex border-2 border-emerald-900 flex-col justify-center items-stretch rounded"
        >
          <div matRipple class="subtext text-3xl bg-transparent text-cyan-50">
            Library
          </div>
        </div>
      </a>
      <a
        routerLink="notes"
        class="flex-1 flex basis-0 justify-center items-center box-border transition"
      >
        <div
          class="card-note shadow-2xl h-52 w-full flex border-2 border-emerald-900 flex-col justify-center items-stretch rounded"
        >
          <div mat-ripple class="subtext text-3xl bg-transparent text-cyan-50">
            Notes
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
